.modal-title {
    text-align: center;
    width: 100%;
  }
  
  .avatar-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .user-name, .user-email {
    text-align: center;
    margin: 0;
  }
  
  .user-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Font */
  :root {
    --text-color: #333; /* Default text color for light mode */
    --background-color: #fff; /* Default background color for light mode */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #fff; /* Text color for dark mode */
      --background-color: #000; /* Background color for dark mode */
    }
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin: 5px;
  }

  .radio-group {
    display: flex;
    align-items: center;
  }
  
  .radio-inline {
    margin-right: 20px;
  }
  
  .radio-inline input {
    margin-right: 5px;
  }

