.card {
  background: var(--surface-card);
  /* padding: 2rem; */
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: transparent !important;
}

.p-multiselect-panel {
  top: 50px !important;
  background-color: transparent !important;
  backdrop-filter: blur(50px) !important;
}
.p-multiselect-header, 
.p-multiselect-filter,
.p-multiselect {
  background-color: transparent !important;
}